<config>
    <modules>
        <Misnard_Customer>
            <version>0.1.0</version>
        </Misnard_Customer>
    </modules>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Misnard_Customer before="Mage_Customer">Misnard_Customer</Misnard_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <preferences>
                    <file>preferences.xml</file>
                </preferences>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <misnard_customer>
                <class>Misnard_Customer_Model</class>
                <resourceModel>misnard_customer_resource</resourceModel>
            </misnard_customer>
            <misnard_customer_resource>
                <class>Misnard_Customer_Model_Resource</class>
                <entities>
                    <preferences>
                        <table>misnard_customer</table>
                    </preferences>
                </entities>
            </misnard_customer_resource>
        </models>
        <resource>
            <misnard_customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </misnard_customer_write>
            <misnard_customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </misnard_customer_read>
        </resource>
        <blocks>
            <misnard_customer>
                <class>Misnard_Customer_Block</class>
            </misnard_customer>
        </blocks>
        <resources>
            <misnard_customer_setup>
                <setup>
                    <module>Misnard_Customer</module>
                </setup>
            </misnard_customer_setup>
        </resources>
    </global>
    <default>
        <customer>
            <preferences>
                <!-- Serialized default choices can evolve to back office config-->
                <choices>a:3:{s:5:"color";a:2:{i:0;s:4:"blue";i:1;s:6:"yellow";}s:5:"model";a:2:{i:0;s:5:"alpha";i:1;s:4:"beta";}s:4:"size";a:2:{i:0;s:1:"M";i:1;s:1:"S";}}</choices>
            </preferences>
        </customer>
    </default>
</config>